{:deps {org.clojure/data.xml   {:mvn/version "0.2.0-alpha6"}
        enlive/enlive          {:mvn/version "1.1.6"}
        org.jaudiolibs/jnajack {:mvn/version "1.4.0"}
        quil/quil              {:mvn/version "3.1.0"}}
 :aliases
 {:jack-util {:exec-fn vibeflow.jackutil/jack-util
              }}}
